<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Contelli web Brasil</h1>
        <div class="subheader">
            <img src="./logo-duas-cores.png" alt="Contelli web Brasil" title="Contelli web Brasil" id="logo"/>
            <button>Login</button>
        </div>
    </header>
    <section class="container">
        <main>
            <input type="text" />
        </main>
    </section>
</body>

</html>