<!DOCTYPE html>
<html>

<head>
    <title>Contelli Web Brasil</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    {% include "./components/header.html" %}
    <section class="container">
        <main class="fluid-container">
            <div class="center">
                <h2 class="sub-title">Cadastro<img src="./icon-pencil.png" alt="Área de busca" title="Área de busca" />
                </h2>
            </div>

            <div id="sucess">
                <p>Cliente cadastrado com sucesso</p>
            </div>

            <div class="center">
                <a href="./cadastro" id="back" class="sub-title">Voltar</a>
            </div>
        </main>
    </section>
</body>

</html>